@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* header style */
#header {
    height: 800px;
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: right;
}

.header-description {
    text-align: right;
    width: 400px;
    padding-top: 250px;
    padding-right: 150px;
}

.header-title {
    font-weight: 700;
    font-size: 55px;
    color: #FFFFFF;
}

.header-explain {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin: 10px 0 20px 0;
}

.header-btn {
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    padding: 17px 22px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
}

/* failure section style */
.failure-parent {
    width: 960px;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.failure-explain {
    width: 350px;
}

.failure-title {
    font-weight: 700;
    font-size: 40px;
    margin-top: 150px;
}

.failure-description {
    font-weight: 400;
    font-size: 16px;
    margin: 20px 0;
}

.failure-explain ul {
    list-style: none;
    margin-left: -60px;
}
.failure-explain ul li{
    margin: 10px 0;
}
.failure-explain ul li i{
    color: green;
}